@import url('https://fonts.googleapis.com/css?family=Niramit');

body {
  font-family: 'Niramit', sans-serif;
}

nav {
  display: flex;
  margin: 40px auto 0;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 2em;
}

.logo {
  flex-grow: 1;
  font-size: 40px;
}

.navbtn {
  display: flex;
  align-items: center;
  margin: 5px;
}

.main {
  margin: auto;
  width: 65%;
}

.userProfile {
  border: solid 1px black;
  width: 30%;
  float: right;
}

.userData {
  /* border: solid 1px; */
  display: flex;
  float: right;
  margin: 0 auto 10;
}

.userEntry {
  display: flex;
  margin: 0px 3px 10px 3px ;
}