@import url('https://fonts.googleapis.com/css?family=Niramit');

body {
  font-family: 'Niramit', sans-serif;
}

nav {
  display: grid;
  margin: 40px auto 0;
  grid-template-areas:
  "name empty calories sleep";
  width: 65%;
  padding: 10px;
  height: 50px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 2em;
   grid-template-columns: repeat(3, 1fr);
}

