@import url('https://fonts.googleapis.com/css?family=Niramit');

body {
  font-family: 'Niramit', sans-serif;
  background-color: rgba(209, 209, 209, 0.726);
}

nav {
  display: flex;
  margin: 40px auto 20px;
  width: 100%;
  align-items: center;
  height: 60px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 2em;
}

.footer {
  display: flex;
  margin: 40px auto 20px;
  width: 100%;
  align-items: center;
  height: 60px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 0.8em;
}

.footerReg {
  margin-left: 10px;
  text-align: right;
}

.logo {
  flex-grow: 1;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
}

.navbtn {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}

.navbtnSelected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.main {
  margin: auto;
  width: 65%;
}

.sidebar {
  display: inline-flex;
  width: 30%;
  float: right;
  margin-bottom: 40px;
  padding-left: 10px;
  background-color: rgba(184, 184, 184, 0.384);
}

.userProfile {
  display: block;
}

.userData {
  margin: 0 auto 10;
}

.userEntry {
  display: flex;
  margin: 0px 3px 10px 3px ;
}

.calories {
  height: 400px;
  width: 100%;
}

.caloriesTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleep {
  height: 400px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.sleepSubmitbtn {
  margin-bottom: 20px;
}

.sleepTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleepGraph {
  height: 240px;
  margin-bottom: 5px;
}

.blobWindow {
  position: relative;
  display: inline-flex;
  background-color: rgba(184, 184, 184, 0.384);
  height: 576px;
  width: 67%;
}

.blobContainer {
  border: 1px solid black;
}

/*
three blob faces for hyper speed
*/
.blobHyperTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyTired.png');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobHyperNormal {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyHappy.png');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobHyperNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyNeutral.png');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

/*
three faces for blobNormal speed
*/

.blobNormalTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyTired.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobNormalHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyHappy.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobNormalNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyNeutral.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobHungryTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyTired.png');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobHungryHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyHappy.png');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobHungryNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-bodyNeutral.png');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}





/* 
.blobFaceHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/face/face-happy.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobFaceTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/face/face-tired.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
}

.blobFaceNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/face/face-neutral.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 50px;
} */

@keyframes bounce {
	0% {
    top: 0px;
		-webkit-animation-timing-function: ease-in;
	}
	55% {
    top: 200px;
    height: 280px;
    width: 280px;
    left: 25%;
		-webkit-animation-timing-function: ease-out;
	}
  60% {
    top: 220px; 
    height: 240px;
    width: 320px; 
    left: 22%;
		-webkit-animation-timing-function: ease-in;}
  70% {
    top: 180px; 
    height: 280px; 
    width: 280px;
    left: 25%;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {
    top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}
