@import url('https://fonts.googleapis.com/css?family=Niramit');

/*
I'm still learning css so there could be some odd or useless stuff in here
I kinda just hacked it together until it worked.
*/

body {
  font-family: 'Niramit', sans-serif;
  background-color: rgba(209, 209, 209, 0.726);
}

/* nav = Header Bar */
nav {
  display: flex;
  /* margin: 40px auto 20px; */
  width: 100%;
  top: 0;
  position: absolute;
  align-items: center;
  height: 60px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 2em;
}

.footer {
  display: flex;
  /* margin: 40px auto 20px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  height: 60px;
  background-color: rgba(46, 204, 113, 0.8);
  color: white;
  font-size: 0.8em;
}

.footerReg {
  margin-left: 10px;
  text-align: right;
}

.logo {
  flex-grow: 1;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
}

.navbtn {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}

.navbtnSelected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.main {
  margin: auto;
  margin-top: 60px;
  /* width: 65%; */
  margin-left: 10%;
  margin-right: 10%;
}

.sidebar {
  display: inline-flex;
  height: 516px;
  width: 30%;
  float: right;
  margin-bottom: 40px;
  padding-left: 10px;
  background-color: rgba(184, 184, 184, 0.384);
}

.userProfile {
  display: block;
}

.userData {
  margin: 0 auto 10;
}

.userEntry {
  display: flex;
  margin: 0px 3px 10px 3px ;
}

.calories {
  height: 400px;
  width: 100%;
}

.caloriesTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleep {
  height: 400px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.sleepSubmitbtn {
  margin-bottom: 20px;
}

.sleepTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleepGraph {
  height: 190px;
  margin-bottom: 5px;
}

.blobWindow {
  position: relative;
  display: inline-flex;
  background-color: rgba(184, 184, 184, 0.384);
  height: 516px;
  width: 67%;
}

.blobContainer {
  margin-top: 10px;
  /* border: 1px solid black; */
}

.blobMessage {
  margin-top: 10px;
  margin-left: 10px;
}

/*
i didn't spend a TON of time figuring out how to swap blob bounce speed and face
this is a pretty repetative solution that could be refactored.
there are 3 calorie states and 3 sleep states so that makes 9 possible combinations
i made a class for each possible and swap out className depending on the blob's state.
*/

/*
three blob faces for hyper speed
*/
.blobHyperTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-tired.png');
  /* animation: bounce .6s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobHyperNormal {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-happy.png');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobHyperNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-neutral.png');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
three faces for blobNormal speed
*/

.blobNormalTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-tired.png');
  /* animation: bounce 1s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobNormalHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-cool.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobNormalNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-neutral.png');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
three faces for blob hungry speed
*/

.blobHungryTired {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 220px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-sad.png');
  /* animation: bounce 1.4s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobHungryHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-neutral.png');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobHungryNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/blob/blob-neutral.png');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
this is the animation for the blob's bounce
*/
@keyframes bounce {
	0% {
    top: 0px;
		-webkit-animation-timing-function: ease-in;
	}
	55% {
    top: 200px;
    height: 280px;
    width: 280px;
    left: 25%;
		-webkit-animation-timing-function: ease-out;
	}
  60% {
    top: 220px; 
    height: 240px;
    width: 320px; 
    left: 22%;
		-webkit-animation-timing-function: ease-in;}
  70% {
    top: 180px; 
    height: 280px; 
    width: 280px;
    left: 25%;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {
    top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}
