@import url('https://fonts.googleapis.com/css?family=Niramit');

/*
I'm still learning css so there could be some odd or useless stuff in here
I kinda just hacked it together until it worked.
*/
html {
  height: 100%;
}



body {
  font-family: 'Niramit', sans-serif;
  background-color: rgba(209, 209, 209, 0.726);
  margin-left: 0;
  height: 100%;
}

/* nav = Header Bar */
nav {
  display: flex;
  /* margin: 40px auto 20px; */
  width: 100%;
  top: 0;
  position: absolute;
  align-items: center;
  height: 60px;
  background-color: rgb(46, 17, 45);
  color: white;
  font-size: 2em;
}

.footer {
  display: flex;
  /* margin: 40px auto 20px; */
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  height: 60px;
  background-color: rgb(46, 17, 45);
  color: white;
  font-size: 0.8em;
}

/* text in footer */
.footerReg {
  margin-left: 10px;
  text-align: right;
}


.logo {
  flex-grow: 1;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10px;
}

.navbtn {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
}

.navbtnSelected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
}

.main {
  margin: auto;
  margin-top: 60px;
  /* width: 65%; */
  margin-left: 10%;
  margin-right: 10%;
}

.sidebar {
  display: inline-flex;
  height: 516px;
  width: 30%;
  float: right;
  margin-bottom: 40px;
  padding-left: 10px;
  background-color: rgba(184, 184, 184, 0.384);
}

.userProfile {
  display: block;
}

.userData {
  margin: 0 auto 10;
}

.userEntry {
  display: flex;
  margin: 0px 3px 10px 3px;
}

.calories {
  height: 400px;
  width: 100%;
}

.caloriesTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleep {
  height: 400px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.sleepSubmitbtn {
  margin-bottom: 20px;
}

.sleepTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.sleepGraph {
  height: 190px;
  margin-bottom: 5px;
}

.blobWindow {
  position: relative;
  display: inline-flex;
  background-color: rgba(184, 184, 184, 0.384);
  height: 516px;
  width: 67%;
}

.blobContainer {
  margin-top: 10px;
  /* border: 1px solid black; */
}

.blobMessage {
  margin-top: 10px;
  margin-left: 10px;
}

/*
i didn't spend a TON of time figuring out how to swap blob bounce speed and face
this is a pretty repetative solution that could be refactored.
there are 3 calorie states and 3 sleep states so that makes 9 possible combinations
i made a class for each possible and swap out className depending on the blob's state.
*/

/*
three blob faces for hyper speed
*/
.blobHyperTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url("../../images/Gifs/Tired.gif");
  /* animation: bounce .6s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobHyperHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/Happy.gif');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobHyperNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/Normal.gif');
  animation: bounce .6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
three faces for blobNormal speed
*/

.blobNormalTired {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url("../../images/Gifs/Tired.gif");
  /* animation: bounce 1s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobNormalHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/Normal.gif');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobNormalNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/Normal.gif');
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
three faces for blob hungry speed
*/

.blobHungryTired {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 220px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/FeedMeGif.gif');
  /* animation: bounce 1.4s; */
  /* transform: translateY(0px); */
  /* animation-iteration-count: infinite; */
  margin: 50px;
}

.blobHungryHappy {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/FeedMeGif.gif');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobHungryNeutral {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/FeedMeGif.gif');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

/*
this is the animation for the blob's bounce
*/
@keyframes bounce {
  0% {
    top: 0px;
    -webkit-animation-timing-function: ease-in;
  }

  55% {
    top: 200px;
    height: 280px;
    width: 280px;
    left: 25%;
    -webkit-animation-timing-function: ease-out;
  }

  60% {
    top: 220px;
    height: 240px;
    width: 320px;
    left: 22%;
    -webkit-animation-timing-function: ease-in;
  }

  70% {
    top: 180px;
    height: 280px;
    width: 280px;
    left: 25%;
    -webkit-animation-timing-function: ease-out;
  }

  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}

.hungry {
  content: url('../../images/Gifs/emptyStomach.jpg');
  float: left;
  margin: 40px;
}

.tired {
  content: url('../../images/Gifs/tiredBrain.jpg');
  float: right;
  margin: 80px;
}

.lptopbutton {
  float: right;
  height: 50px;
  margin-right: 42.5%;
  width: 15%;
  font-size: 1.5em;
  border-radius: 5px;
  background-color: lightslategray
}

.lptopbutton:hover,
.lpbottombutton:hover {
  background-color: lightgray;
  cursor: pointer;
}

.fullpage {
  position: relative;
  width: 100%;
  background-color: rgb(46, 17, 45);
  margin-top: 370px;
  font-family: 'Niramit', sans-serif;

}

.lpheader {
  text-align: center;
  position: relative;
  top: 0;
  color: lightslategrey;
  font-size: 7em;
}

.lpfirst {
  text-align: center;
  width: 100%;
  height: 600px;
  margin-top: 200px;
  color: lightslategray;
  font-size: 3em;
}

.lpfirstbox {
  width: 100%;
  height: 600px;
  background-color: lightslategrey;
}

.lpfmess {
  font-size: 2.5em;
  margin-top: 250px;
  float: right;
  margin-right: 100px;
  position: relative;
  font-weight: bold;

}

.lpsecondbox {
  width: 100%;
  height: 600px;
  background-color: slategrey;

}

.lpsmess {
  font-size: 2.5em;
  margin-top: 250px;
  float: left;
  margin-left: 50px;
  position: relative;
  font-weight: bold;
}

.lpthirdbox {
  width: 100%;
  height: 300px;

}

.lptmess {
  color: lightslategray;
  font-size: 4em;
  text-align: center;
  position: relative;
  margin-top: 150px;
}

.lpfour {
  text-align: center;
  color: lightslategray;
  font-size: 3em;
  position: relative;
}

.lpbottombutton {
  position: relative;
  height: 70px;
  margin-left: 42%;
  font-weight: bold;
  border-radius: 5px;
  width: 15%;
  font-size: 1.5em;
  background-color: lightslategray;

}

.lpfooter {
  background-color: lightslategray;
  width: 100%;
}

.disclaim {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;

}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;

}



.layer {
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 2600px;
  position: fixed;
  z-index: -1;
}

.layer0 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0006_Layer-7.png');
  /* background-position: top; */
  background-position: top;
}

.layer1 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0005_Layer-6.png');
  background-position-y: 155px;
}

.layer2 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0004_Layer-5.png');
  background-position-y: 450px;

}

.layer3 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0003_Layer-4.png');
  background-position-y: 530px;

}

.layer4 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0002_Layer-3.png');
  background-position-y: 573px;
  /* background-position-x: -7px; */
  width: 99.395%;
  ;
}

.layer5 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0001_Layer-2.png');
  background-position-y: 526px;
  ;
}

.layer6 {
  background-image: url('../../images/layered\ mountain/layered-mountain_0000_Layer-1.png');
  background-position-y: 535px;
  ;
}

.blobOpenMouth {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/OpenMouth.gif');
  margin: 50px;
}

.blobFeedMe {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/FeedMeGif.gif');
  animation: bounce 1.4s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  margin: 50px;
}

.blobMonchCronch {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 25%;
  margin-left: auto;
  margin-right: auto;
  content: url('../../images/Gifs/MonchCronch.gif');
  margin: 50px;
}

.navbtn:hover {
  color: slategray;
  cursor: pointer;
}

.navbtnSelected {
  color: lightgreen;
  cursor: pointer;
}

#leftSideStuff {
  margin-right: 15%;
}

#rightSideStuff {
  margin-right: 5%;
}



.blobWindow {
  margin-top: 5%;
}

.sidebar {
  margin-top: 5%;
}